/* Estilos para la navbar */
.navbar {
  background-color: #333;
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #f0a500;
}

.container {
  text-align: center;
  margin-top: 50px;
}
select {
  margin: 5px;
  padding: 5px;
  font-size: 16px;
}
button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
}
p {
  margin-top: 20px;
  font-size: 18px;
}
